﻿/*:root {
    --primary: #6ccacd;
    --action-colour: #FF6666;
    --action-colour-dark: #C01C1C;
    --highlight: #FFFF66;
}*/

body {
    color: #585b60;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

.body-content {
    margin-top: 80px;
}



/***********************
    HEADER PARTIAL
************************/
/*#region header partial*/
#HeaderPartial {
    background-color: #f8f9fb;
    text-align: center;
}

#TrialButton {
    margin-top: 3em;
}

#IntroText {
    margin-top: 3em;
}

.titleText {
    font-size: 34px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 48px;
    padding: 0 10px;
    font-weight: 700;
}

@media all and (max-width: 768px) {
    .introText {
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 15px;
    }
}
/*#endregion header partial*/


/***********************
    FEATURES PARTIAL
************************/
/*#region features partial*/
.featureDescription {
    color: #abacae;
    text-align: center;
    font-weight: 400;
    line-height: 25px;
    margin: auto;
}

#FeaturesPartial .featureDescription {
    width: 80%;
}

.featureTitle {
    margin-top: 10px;
    font-weight: 100;
    margin-bottom: 10px;
    font-size: 38px;
    text-align: center;
}

.featureIcon {
    font-size: 5em;
    text-align: center;
}
/*#endregion features partial*/



/***********************
    SERVICES PARTIAL
************************/
/*#region Services partial*/
.serviceIcon {
    font-size: 2em;
}

#ServicesPartial .col-sm-6:nth-of-type(2n+1) {
    clear: both;
}

@media all and (min-width: 768px) {
    #ServicesPartial img {
        max-width: 50vw;
    }
}
/*#endregion Services partial*/


/***********************
    CLIENTS PARTIAL
************************/
/*#region Clients partial*/

#ClientsPartial {
    background: #f8f9fb;
}

.client {
    text-align: center;
}

    .client img {
        opacity: .5;
        height: 115px;
        width: 100%;
    }

    .client:hover img {
        opacity: 1;
    }
/*#endregion Clients partial*/


/***********************
    PRICING PARTIAL
************************/
/*#region Pricing partial*/
#PricingOptions .card {
    box-shadow: 0 2px 18px 0 rgba(198, 198, 198, 0.3);
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 4px;
    text-align: center;
}

    #PricingOptions .card .title {
        color: #6ccacd;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
        padding: 25px;
    }

    #PricingOptions .card .price {
        font-size: 24px;
        font-weight: 700;
        line-height: 62px;
    }

        #PricingOptions .card .price > span {
            font-size: 10px;
            font-weight: 500;
        }

    #PricingOptions .card .featureDescription {
        min-height: 230px;
        width: 80%;
    }
/*#endregion Pricing partial*/


/***********************
    FAQ PARTIAL
************************/
/*#region FAQ partial*/
#FAQPartial {
    background: #34363a;
}

    #FAQPartial .titleText {
        margin-bottom: 20px;
    }

#Questions .titleText {
    margin-top: 40px;
    padding: 0;
}

#Questions .col-sm-6:nth-of-type(2n+1) {
    clear: both;
}
/*#endregion FAQ partial*/


/***********************
    DOWNLOADS PARTIAL
************************/
/*#region Downloads partial*/
#DownloadPartial .titleText {
    margin-bottom: 0;
}

.downloadButtons {
    margin: 2em;
    text-align: center;
}

    .downloadButtons img {
        margin-top: -5px;
    }
/*#endregion Downloads partial*/



/***********************
    TRIAL PARTIAL
************************/
/*#region Trial partial*/

#TrialPartial {
    background: #f8f9fb;
}

    #TrialPartial button {
        background: transparent;
        border: none;
    }

        #TrialPartial button i {
            width: 48px;
            height: 48px;
            background: #6ccacd;
            line-height: 48px;
            border-radius: 50%;
            display: block;
        }

    #TrialPartial input {
        height: 52px;
    }
/*#endregion Trial partial*/


/***********************
    CONTACT PARTIAL
************************/
/*#region Contact partial*/
.heading {
    font-size: 18px;
    font-weight: 700;
}

.contactMethod {
    margin: 10px 15px 40px;
}

    .contactMethod i {
        width: 35px;
        height: 35px;
        background: #6ccacd;
        color: white;
        text-align: center;
        font-size: 20px;
        line-height: 35px;
        border-radius: 50%;
        display: inline-block;
    }

#ContactInfo .featureDescription {
    margin: 0 10px;
}

#ContactPartial input, #ContactPartial textarea {
    border-color: #abacae;
    line-height: 21px;
}

#ContactPartial textarea {
    border-radius: 0;
}

#ContactForm {
    width: 90%;
}
/*#endregion Contact partial*/

/***********************
    Designers PARTIAL
************************/
/*#region Designers partial*/
#DesignersPartial {
    background: #ffffff;
}

    #DesignersPartial a {
        overflow-wrap: break-word;
    }


/*#endregion Designers partial*/
/***********************
    INFO PARTIAL
************************/
/*#region Info partial*/
#InfoPartial {
    padding: 60px 100px;
    background-color: #6ccacd;
}

    #InfoPartial, #InfoPartial a {
        color: #ffffff;
    }

        #InfoPartial ul {
            list-style-type: none;
            padding: 0;
        }

        #InfoPartial li {
            margin-bottom: 10px;
        }


        #InfoPartial .col-sm-3 {
            text-align: center;
        }

#SocialIcons i {
    width: 25px;
    height: 25px;
    background: #FFFFFF;
    color: #666666;
    text-align: center;
    font-size: 15px;
    line-height: 27px;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
}

#TwitterIcon:hover i {
    background: #4A9CEC;
    color: #FFFFFF;
}
/*#endregion Info partial*/


/***********************
    MISCALLANEOUS PARTIAL
************************/
/*#region MISC partial*/
.left {
    text-align: left;
}

i {
    color: #6ccacd;
}

button i {
    color: #ffffff;
}

.btn-outline:hover i, .btn-outline:active i {
    color: #FFFFFF;
}

img {
    max-width: 100%;
}

.partial {
    padding-left: 25px;
    padding-right: 25px;
    background-color: #FFFFFF;
}

    .partial > .content {
        padding: 4em 0 5em;
    }

/*#endregion MISC partial*/

/***********************
    EVENT PAGE
************************/
/*#region EVENT page*/
#Slideshow img {
    vertical-align: middle;
    margin: auto;
}

#Slideshow .slides {
    display: none;
}

#Slideshow img.active {
    display: block;
    width: 100%;
}

#Slideshow button {
    background: #d3d3d3;
    color: #6ccacd;
    border: none;
    font-size: 3em;
}

    #Slideshow button.left {
        position: absolute;
        top: 50%;
        left: 0;
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    #Slideshow button.right {
        position: absolute;
        top: 50%;
        right: 0;
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

#PaymentButton {
    position: fixed;
    right: 0;
}

/*#endregion EVENT page*/



/*#region Navigation*/
/*.login-btn {
    background: none;
    border: none;
    padding-top: 25px;
    color: #00D6D6;
    -webkit-transition: padding-top 0.7s ease-out, background-color 0.7s ease-in-out;
    -moz-transition: padding-top 0.7s ease-out, background-color 0.7s ease-in-out;
    -o-transition: padding-top 0.7s ease-out, background-color 0.7s ease-in-out;
    transition: padding-top 0.7s ease-out, background-color 0.7s ease-in-out;
}

.navbar-default .navbar-collapse.in .login-btn, .navbar-default.scrolled .navbar-collapse.in .login-btn {
    background: #FFFFFF;
    color: #00d6d6 !important;
    width: 100%;
    padding: 7px;
}


.navbar-default.scrolled .login-btn {
    padding-top: 15px;
}*/

/*#endregion Navigation*/

/*#region Login modal*/
#qemodal form {
    text-align: center;
}

#qemodal td {
    border-top: none;
}

#qemodal input {
    text-align: center;
    font-size: 1.5em;
}

@media all and (min-width: 768px) {
    #qemodal table {
        width: 70%;
        margin: auto;
    }
}
/*#endregion Login modal*/

/*#region partials*/
/*****************************************/


.partial.empty {
    height: 15vh;
    padding: 0;
    margin: 0;
    border-bottom-color: #FFFFFF;
}

.partial.last {
    border-bottom-color: #FFFFFF;
    padding-bottom: 5em;
}

/*.partial.empty ~ .partial {
        border-top-color: #FFFFFF;
    }*/

/*

.swirly {
    border-top-color: #FFFFFF;
    background: url("../Content/Images/Swirly.png") no-repeat;
    background-color: #FFFFFF;
    background-position: bottom center;
    background-size: 100% auto;
}*/




/*#region function partial*/

/*.function {
    text-align: center;
}

.functionIcon {
    width: 150px;
}

.functionName {
    font-weight: bold;
}*/
/*#endregion function partial*/

/*#region Contact Partial*/
/*#ContactPartial {
    text-align: center;
}

#GoogleMap {
    width: 100%;
    height: 30em;
}

#ContactForm td {
    border-top: none;
}*/

/*#endregion Contact partial*/

/*#region Event Partials*/
.event.partial {
    padding: 30px;
}
/*#endregion Event partials*/

/**************************************/
/*#endregion partials*/

/*#region Events*/
/*#region AddEvent*/
#EventDocUpload {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#EventDocUploadLabel {
    margin: 1em;
}
/*#endregion*/
/*#endregion events*/
/*#region Misc*/

footer {
    text-align: center;
}

    footer a.btn {
        padding: 0;
    }

.fakeButton {
    cursor: pointer;
}
/*#endregion Misc*/

