﻿@model QuickEvents.Website.WebApp.ViewModels.EventUploadForm

<div id="EventPreviewPartial" class="partial last">
    <div class="row">
        <div class="col-sm-8">
            @Html.HiddenFor(x => x.EventID)
            @Html.HiddenFor(x => x.Title)
            @Html.HiddenFor(x => x.Location)
            @Html.HiddenFor(x => x.StartDate)
            @Html.HiddenFor(x => x.EndDate)

            <div id="Slideshow">
                @{ var imageCount = 0;}
                @foreach (var image in Model.ImagesAsBase64)
                {
                    imageCount++;
                    <img src="@image" alt="Event Image" class="slides" />
                }
                @if (imageCount > 1)
                {
                    <button onclick="nextImage(-1)" class="left">&lt;</button>
                    <button onclick="nextImage(1)" class="right">&gt;</button>
                }
            </div>

        </div>
        <div id="PaymentButton" class="col-sm-4 text-center">
            <button class="btn btn-lg btn-success">Make Payment</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    let slideIndex = 0;
    nextImage(slideIndex);

    function nextImage(n) {
        showImage(slideIndex += n);
    }

    function showImage(index) {
        let slides = $(".slides");

        if (index >= slides.length) {
            slideIndex = 0;
        }
        if (index < 0) {
            slideIndex = slides.length;
        }

        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex].style.display = "block";
    }

    $("#PaymentButton button").on('click', function(e) {
        e.preventDefault();
        $("#PaymentButton").addClass('hidden');
        $("#PaymentLoadingDiv").removeClass('hidden');

        let images = [];
        $("#Slideshow img").each(function( key, value ) {
            images.push(value.src);
        });

        let formData = {
            EventID: $("#EventID").val(),
            Title: $("#Title").val(),
            Location: $("#Location").val(),
            StartDate: $("#StartDate").val(),
            EndDate: $("#EndDate").val(),
            ImagesAsBase64: images
        };

        $.ajax({
            url: "@Url.Action("Upload")",
            method: "POST",
            data: formData,
            success: function(data) {
                location.href = "@Url.Action("Index")";
            },
            error: function(xHr) {
                toastr.error("An error occured. Please try again at a later time");
            }
        });
    });
</script>