﻿@using QuickEvents.Website.WebApp.Helpers
@model QuickEvents.Website.WebApp.ViewModels.EventUploadForm


<div id="UploadDiv" class="partial last text-center">

    <form id="UploadForm">
        @Html.HiddenFor(x => x.ImagesAsBase64)
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <img id="Map" class="hidden" alt="Map" />
                </div>
                <div class="col-sm-6">
                    @Html.ValidationSummary()

                    @Html.TextBoxFor(x => x.EventID, new {@maxlength = "5", @class = "form-control text-center", @placeholder = "Enter 5 Character Event Code"})
                    <br/>
                    @Html.TextBoxFor(x => x.Title, new {@class = "form-control text-center", @placeholder = "Enter Event title"})
                    <br/>
                    @Html.TextBoxFor(x => x.Location, new {@class = "form-control text-center", @placeholder = "Enter Event location"})
                    <br/>
                    @Html.TextBoxFor(x => x.StartDate, new {@class = "form-control text-center", @placeholder = "Enter Event start date/time"})
                    <br/>
                    @Html.TextBoxFor(x => x.EndDate, new {@class = "form-control text-center", @placeholder = "Enter Event end date/time"})
                    <br/>
                </div>
                <div class="col-sm-6 col-sm-offset-3">
                    <div>
                        <label id="EventDocUploadLabel" for="EventDocUpload" class="btn btn-lg btn-info hidden"><i class="fa fa-cloud-upload"></i> Upload Image(s)</label>
                        <input type="file" name="eventDoc" id="EventDocUpload" accept=".jpeg, .jpg, .png" multiple="multiple" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6 col-sm-offset-3">
                    <a class="btn btn-default btn-lg" href="@Url.Action("Index")">Cancel</a>
                    <button id="EventDocPreviewBtn" type="submit" class="btn btn-lg btn-success hidden">Preview</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="UploadLoadingDiv" class="hidden partial last">
    <div class="text-center"><i class="fa fa-spinner fa-spin" style="font-size:5em"></i></div>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?&key=@GoogleHelper.API_KEY"></script>

<script type="text/javascript">

    $(function() {
        EvaluateEventId();

        $('#StartDate').datetimepicker({
            sideBySide: true
        });
        $('#EndDate').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            sideBySide: true
        });
        $("#StartDate").on("dp.change",
            function(e) {
                $('#EndDate').data("DateTimePicker").minDate(e.date);
            });
        $("#EndDate").on("dp.change",
            function(e) {
                $('#StartDate').data("DateTimePicker").maxDate(e.date);
            });


        $("#EventID").on('keyup',
            function() {
                EvaluateEventId();
            });

        function EvaluateEventId() {
            if ($("#EventID").val().length === 5) {
                $("#EventDocUploadLabel").removeClass("hidden");
            } else {
                $("#EventDocUploadLabel").addClass("hidden");
            }
        }

        $("#Location").on('blur',
            function () {
                DisplayLocation();
            });

        function DisplayLocation() {
            var geocoder = new google.maps.Geocoder();

            let address = $("#Location").val();

            geocoder.geocode( { 'address': address}, function(results, status) {

                if (status === google.maps.GeocoderStatus.OK) {
                    let latitude = results[0].geometry.location.lat();
                    let longitude = results[0].geometry.location.lng();
                    var location = "" + latitude + "," + longitude;

                    let imgUrl =
                        "https://maps.googleapis.com/maps/api/staticmap?center=" + location + "&zoom=14&size=640x640&scale=2&maptype=roadmap&markers=color:0x6ccacd|label:Q|" + location + "&key=@GoogleHelper.API_KEY";
                    $("#Map").attr("src", imgUrl);
                    $("#Map").removeClass("hidden");
                }

            });
        }


        $("#EventDocUpload").on('change',
            function(e) {
                $("#EventID").attr('readonly', true);

                let labelText = $("#EventDocUploadLabel").html();
                let fileName = '';

                if (this.files && this.files.length > 1)
                    fileName = e.target.value.split('\\').pop() + " and "+ (this.files.length - 1) + " more";
                else
                    fileName = e.target.value.split('\\').pop();

                if (fileName) {
                    labelText = `'<strong>${fileName}</strong>' selected.`;
                    $("#EventDocPreviewBtn").removeClass("hidden");
                }
                $("#EventDocUploadLabel").html(labelText);
            });

        $("#UploadForm").on('submit',
            function(e) {
                e.preventDefault();

                $("#UploadDiv").addClass("hidden");
                $("#UploadLoadingDiv").removeClass('hidden');

                let files = $("#EventDocUpload")[0].files;
                let index = 0;
                let images = [];

                var reader = new FileReader();

                reader.onloadend = function () {
                    images.push(reader.result);

                    if (++index < files.length) {
                        reader.readAsDataURL(files[index]);
                    } else {

                        let formData = {
                            EventID: $("#EventID").val(),
                            Title: $("#Title").val(),
                            Location: $("#Location").val(),
                            StartDate: $("#StartDate").val(),
                            EndDate: $("#EndDate").val(),
                            ImagesAsBase64: images
                        };

                        $.ajax({
                            url: "@Url.Action("Preview")",
                            method: "POST",
                            data: formData,
                            success: function(data) {
                                $("#UploadLoadingDiv").addClass('hidden');
                                $("#UploadDiv").removeClass("hidden");
                                $("#UploadDiv").replaceWith(data);
                            },
                            error: function(xHr) {
                                if (xHr.status === 422) {
                                    $("#UploadLoadingDiv").addClass('hidden');
                                    $("#UploadDiv").removeClass("hidden");
                                    $("#UploadDiv").replaceWith(xHr.responseText);
                                }
                            }
                        });
                    }
                };

                reader.readAsDataURL(files[index]);
            });

    });
</script>