﻿@using QuickEvents.Website.WebApp.Helpers
@model List<QuickEvents.Website.WebApp.Model.Models.Event>

@{
    ViewBag.Title = "My Events";
}

<hr />
<div class="top partial">
    <h2 class="events-header">My Events</h2>
</div>
<div class="partial last">
    <div class="row">
        <table class="table text-center">
            <thead>
                <tr>
                    <th style="width:5%">#</th>
                    <th style="width:20%">ID</th>
                    <th style="width:25%">Event Name</th>
                    <th style="width:20%">Start Date</th>
                    <th style="width:20%">End Date/Time</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
                @{var index = 1; }
                @foreach (var userEvent in Model)
                {
                    <tr>
                        <td style="width:5%">@(index++)</td>
                        <td style="width:20%">@(userEvent.Id)</td>
                        <td style="width:25%">@(userEvent.Name.Truncate(25))</td>
                        <td style="width:20%">@userEvent.StartDate</td>
                        <td style="width:20%">@userEvent.EndDate</td>
                        <td style="width:10%"><button class="btn btn-primary btn-outline">Edit</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <a class="btn btn-default btn-lg" href="@Url.Action("Add")">Create Event</a>
        </div>
    </div>
</div>

<br />