﻿<section id="InfoPartial">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img alt="Logo" src="/Content/Images/LogoWhite.png" />
            </div>
            <div class="col-sm-3">
                <p class="heading">Company</p>
                <ul>
                    <li>
                        <a href="/#FeaturesPartial">Features</a>
                    </li>
                    <li>
                        <a href="/#ServicesPartial">Services</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <p class="heading">About</p>
                <ul>
                    <li>
                        <a href="/#ContactPartial">Learn More</a>
                    </li>
                    <li>
                        <a href="/#TrialPartial">Free Trial</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <p class="heading">Find Us On</p>
                <div id="SocialIcons">
                    @*<a id="FacebookIcon" href="#"><i class="lni-facebook-filled"></i></a>*@
                    <a id="TwitterIcon" href="#"><i class="lni-twitter-filled"></i></a>
                    @*<a id="InstagramIcon" href="#"><i class="lni-instagram-filled"></i></a>
                    <a id="LinkedInIcon" href="#"><i class="lni-linkedin-filled"></i></a>*@
                </div>
            </div>
        </div>
    </div>
</section>
