﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <title>@ViewBag.Title - QuicEvent</title>
    @Styles.Render("~/bundles/Content")
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>

</head>
<body>
    <div id="NavBar" class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/#"><img class="navbar-brand" alt="Logo" src="/Content/Images/Logo.png"/></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/#HeaderPartial" class="active">Home</a></li>
                    <li><a href="/#FeaturesPartial">Features</a></li>
                    <li><a href="/#ServicesPartial">Services</a></li>
                    <li><a href="/#ClientsPartial">Clients</a></li>
                    <li><a href="/#PricingPartial">Pricing</a></li>
                    <li><a href="/#FAQPartial">FAQS</a></li>
                    <li><a href="/#ContactPartial">Contact</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li id="LoggedInButtons">
                        <a href="@Url.Action("Index", "Event")" class="btn btn-primary btn-outline">Account <i class="lni-user"></i></a>
                        <a href="@Url.Action("SignOut", "User")" class="btn btn-primary btn-outline"><i class="lni-exit"></i></a>
                    </li>
                    }
                </ul>
                @if (!User.Identity.IsAuthenticated)
                {
                <div id="LoginBtnDiv"><button type="button" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#qemodal" data-actionurl="@Url.Action("Login", "User")">SIGN IN</button></div>
                }
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        

        @Html.Partial("_Info")
        <footer>
            <p>Copyright &copy; 2018 Quicevent. All Rights Reserved || Designed by <a href="http://eltee27.com" class="btn btn-link">Eltee</a></p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/Scripts")
    @RenderSection("scripts", required: false)

    @Html.Partial("_Modal", "qemodal")

</body>
</html>
