﻿@model string

<div class="modal fade" id="@Model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div id="@Model-body">
                <div class="text-center"><i class="fa fa-spinner fa-spin" style="font-size:5em"></i></div>
            </div>
            <div id="loadingDiv" class="hidden">
                <div class="text-center"><i class="fa fa-spinner fa-spin" style="font-size:5em"></i></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#@Model').on('shown.bs.modal',
        function(e) {
            let actionUrl = $(e.relatedTarget).data('actionurl');
            if (null != actionUrl && actionUrl !== "") {
                $.ajax({
                    url: actionUrl,
                    success: function(data) {
                        SetLoadingDiv(false);
                        $('#@Model-body').html(data);
                    },
                    error: function() {
                        SetLoadingDiv(true);
                        toastr.error("Unable to get resource");
                    }

                });
            } else {
                toastr.error("No resource indicated. Please contact support");
            }
        });

    $('#@Model').on('hidden.bs.modal',
        function() {
            SetLoadingDiv(true);
        });

    function SetLoadingDiv(show) {
        if (show === true) {
            $('.modal-body').addClass('hidden');
            $('.modal-header').addClass('hidden');
            $('#loadingDiv').removeClass('hidden');
        } else {
            $('.modal-body').removeClass('hidden');
            $('.modal-header').removeClass('hidden');
            $('#loadingDiv').addClass('hidden');
        }
    }
</script>