﻿<section id="ClientsPartial" class="partial">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <p class="titleText">Companies</p>
                
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="row">
                        <div class="col-sm-1 client">
                        </div>
                        <div class="col-sm-5 client">
                            <img src="/Content/Images/vg-logo.png" alt="VG Emergency">
                        </div>
<div class="col-sm-1 client">
                        </div>
                        <div class="col-sm-3 client">
                            <img src="/Content/Images/ArtIsLush-Logo.png" alt="ArtIsLush">
                        </div>
                        <div class="col-sm-2 client">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
