﻿<section id="ContactPartial" class="partial">
    <div class="content">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 ">
                <p class="titleText">Contact</p>
                <div class="row">
                    <div class="col-sm-7">
                        <p class="heading"> Contact Form</p>
                        <form id="ContactForm">
                            <div class="row">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" required="" data-error="Please enter your name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" required="" data-error="Please enter your email" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="Subject" name="Subject" placeholder="Subject" required="" data-error="Please enter a subject" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <textarea type="text" class="form-control" id="Message" name="Message" placeholder="Your Message" required="" rows="5" data-error="Please enter a subject"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Send Message</button>
                                <span id="ContactResponse"></span>
                            </div>
                        </form>
                        
                        <div id="ContactLoadingDiv" class="hidden">
                            <div class="text-center"><i class="fa fa-spinner fa-spin" style="font-size:5em"></i></div>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <p class="heading"> Get In Touch</p>
                        <div class="row">
                            <div id="ContactInfo">
                                <div class="contactMethod">
                                    <i class="lni-map-marker"></i>
                                    <span class="featureDescription left">Winnipeg, Manitoba</span>
                                </div>
                                <div class="contactMethod">
                                    <i class="lni-envelope"></i>
                                    <a class="featureDescription left" href="mailto:info@quicevent.com">info@quicevent.com </a>
                                </div>
                                <div class="contactMethod">
                                    <i class="lni-phone-handset"></i>
                                    <a class="featureDescription left" href="tel:+12042325144">+1(204)232-5144</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



