﻿<section id="DesignersPartial" class="partial">
    <div class="content">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="titleText">"In need of a graphic designer? We have a remote team available to you."</p>
                <p class="titleText">Email us at <a href="mailto:info@quicevent.com">info@quicevent.com</a></p>
            </div>
        </div>
    </div>
</section>
