﻿<section id="DownloadPartial" class="partial">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <p class="titleText">Download Anywhere</p>
                <p class="featureDescription">Available for all major mobile and desktop platforms.</p>
                <div class="downloadButtons">
                    <a class="btn btn-primary btn-outline"><img alt="Apple Logo" src="/Content/Images/Apple.png"/>&nbsp; App Store</a>
                    <a class="btn btn-primary btn-outline"><img alt="Google play Logo" src="/Content/Images/GooglePlay.png"/>&nbsp; Google play</a>
                </div>
                <p class="featureDescription"><small><em>*Works on iOS 10.0.5+, Android Kitkat and above.</em></small></p>
            </div>
        </div>
    </div>
</section>
