﻿<section id="FAQPartial" class="partial">
    <div class="content">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="titleText">Frequently Asked Questions</p>
                <div class="row">
                    <div id="Questions" class="col-sm-12">
                        <div class="col-sm-6">
                            <p class="titleText left">Is this available in my country?</p>
                            <p class="featureDescription left">
                                The service is currently available in Africa, North America, South America and Europe.
                                For updates on the availability please subscribe to us through the subscribe link.
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="titleText left">Is it possible to change my plan later?</p>
                            <p class="featureDescription left">
                                Yes, a user can change their plans at any point in time.
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="titleText left">How do I use the features of the Quicevent app?</p>
                            <p class="featureDescription left">
                                Our mobile application is a simple to use step by step application that enable an easy work through for all event host and attendees.
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="titleText left">I have a technical problem, who do I contact?</p>
                            <p class="featureDescription left">
                                In any case of technical difficulty all users and host can contact us through the service email at info@quicevent.com with attention to our help desk team.
                                An agent will respond to you within an hour.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
