﻿<section id="FeaturesPartial" class="partial">
    <div class="content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <p class="titleText">App Features</p>
                
                <div class="col-sm-3">
                    <p class="featureIcon"><i class="lni-help"></i></p>
                    <p class="featureTitle">
                        Why Use Quicevent?
                    </p>
                    <p class="featureDescription">
                        Use of the quicevent application semelessly connects to event programs. Users have access to program with or without the use of the dedicated mobile application
                    </p>
                </div>
                <div class="col-sm-3">
                    <p class="featureIcon"><i class="lni-map-marker"></i></p>
                    <p class="featureTitle">
                        Where Can I Use Quicevent?
                    </p>
                    <p class="featureDescription">
                        Quicevent application can be used anywhere and at any region at any point, with no restrictions. In addition, it can be used for any event type
                    </p>
                </div>
                <div class="col-sm-3">
                    <p class="featureIcon"><i class="lni-mobile"></i></p>
                    <p class="featureTitle">
                        How Many Users at Once?
                    </p>
                    <p class="featureDescription">
                        There are no limits to the number users that have access to host events
                    </p>
                </div>
                <div class="col-sm-3">
                    <p class="featureIcon"><i class="lni-share"></i></p>
                    <p class="featureTitle">
                        Can Event Programs be shared?
                    </p>
                    <p class="featureDescription">
                        All event programs and brochures can be shared via mail, social media and more within the application
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
