﻿<section id="HeaderPartial" class="partial">
    <div class="content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div id="IntroText" class="titleText">
                    <p>An easy and effective to use event program application for Business and Private occasions</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button id="TrialButton" class="btn btn-lg btn-primary" type="button" data-toggle="modal" data-target="#qemodal" data-actionurl="@Url.Action("Register", "User")">Free Trial</button>
            </div>
        </div>
    </div>

</section>