﻿<section id="PricingPartial" class="partial">
    <div class="content">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="titleText">Pricing</p>
                <p class="featureDescription">
                    Single Event Prices Starting at $10CAD/Event
                    <br />
                    Payments can be made on a monthly contract agreement
                </p>

                <div id="PricingOptions" class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <div class="card">
                                <p class="title">Monthly</p>
                                <p class="price">$50 CAD <span>/Month</span></p>
                                <br/>
                                <p class="featureDescription">Host can have more than one event during the month with no limits.</p>
                                <button class="btn btn-primary">Purchase</button>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <p class="title">Monthly</p>
                                <p class="price">$250 CAD <span>/6 Months</span></p>
                                <br/>
                                <p class="featureDescription">We do recommend this for host looking to have more than one event per month, with a 6 month period.</p>
                                <button class="btn btn-primary">Purchase</button>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <p class="title">Monthly</p>
                                <p class="price">$450 CAD <span>/12 Months</span></p>
                                <br/>
                                <p class="featureDescription">We do recommend this for Host looking to have multiple events a year round.</p>
                                <button class="btn btn-primary">Purchase</button>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <p class="title">Monthly</p>
                                <p class="price">$500 CAD <span>/12 Months</span></p>
                                <br/>
                                <p class="featureDescription">Host can have one event code created, upload advertisment brochures, programs and continually use the same event code and link without renewing or registering a new event.</p>
                                <button class="btn btn-primary">Purchase</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
