﻿<section id="ServicesPartial" class="partial">
    <div class="content">
        <div class="row">
            <div class="col-sm-11 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-5">
                        <p class="titleText left">Learn More About Us</p>
                        <p class="featureDescription left">
                            Quicevent is an event organization focused on providing quick access event programs from event host to attendees.
                            The service is aimed at making online event programs, brochures and documents easily accessible,
                            give the users easy access to read event programs on and during the event.
                        </p>
                        <br />
                        <p class="featureDescription left">
                            Our teams are focused on various areas such as customer service, tech support, business development and sales.
                            Each team is always available to assist and reach out to customers at all times.
                        </p>
                        <br />
                        <p class="featureDescription left">
                            At Quicevent we have the passion and vision which motivates us to always improve our system and provide the most reliable service.
                            You can always count on our team.
                        </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="serviceIcon"><i class="lni-reload"></i></p>
                                <div class="featureDescription left">
                                    <p><strong>Live Updates</strong></p>
                                    <p>Host can seamlessly update event program during a live program at any point.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="serviceIcon"><i class="lni-bullhorn"></i></p>
                                <div class="featureDescription left">
                                    <p><strong>Event Notifications</strong></p>
                                    <p>Host can push out notifications to event attendees.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="serviceIcon"><i class="lni-calendar"></i></p>
                                <div class="featureDescription left">
                                    <p><strong>Calendar Sync</strong></p>
                                    <p>Event attendees can sync event program to be notified of start time and updates.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="serviceIcon"><i class="lni-pencil-alt"></i></p>
                                <div class="featureDescription left">
                                    <p><strong>Browser Access</strong></p>
                                    <p>Event attendees can access the program without access to the quicevent application.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="serviceIcon"><i class="lni-grid-alt"></i></p>
                                <div class="featureDescription left">
                                    <p><strong>Barcode Scan</strong></p>
                                    <p>Attendees can scan event barcode to access event program at any point or location without access to event code.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <img src="/Content/Images/Learn.jpg" alt="Learn About Us" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
