﻿<section id="TrialPartial" class="partial">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <p class="titleText">Start Your Free Trial</p>
                <div class="col-sm-10 col-sm-offset-1">
                    <input id="TrialEmail" type="Email" class="form-control" name="Email" placeholder="Email Address">
                </div>
                <button id="TrialArrowButton" class="btn btn-primary"  type="button" data-toggle="modal" data-target="#qemodal" data-actionurl="@Url.Action("Register", "User")"><i class="lni-arrow-right"></i></button>
            </div>
        </div>
    </div>
</section>

