﻿@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_Header")

@Html.Partial("_Features")

<hr />

@Html.Partial("_Services")

@Html.Partial("_Clients")

@Html.Partial("_Pricing")

@Html.Partial("_FAQ")

@Html.Partial("_Download")

@Html.Partial("_Trial")

@Html.Partial("_Contact")

@Html.Partial("_Designers")


@section scripts
{
    <script type="text/javascript">

        let userEmail;

        $('#ContactForm').on('submit',
            function (e) {
                e.preventDefault();
                ContactFormStatus("Sending");
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("Contact")',
                    data: $(this).serialize(),
                    success: function (text) {
                        $("#ContactForm")[0].reset();
                        ContactFormStatus();
                        $('#ContactResponse').html('<h2 class="text-success"> Message Sent!</h2 >');
                    },
                    error: function (xHr) {
                        ContactFormStatus();
                        $('#ContactResponse').html('<h2 class="text-danger">Something went wrong :( </h2>');
                    }
                });
            });

        $("#TrialArrowButton").on('click',
            function(e) {
                userEmail = $("#TrialEmail").val();
                $("#TrialEmail").val("");
            });

        function ContactFormStatus(value) {
            if (typeof(value) !== 'undefined') {
                $("#ContactForm").addClass("hidden");
                $("#ContactLoadingDiv").removeClass("hidden");
                $('#ContactResponse').html();
            } else {
                $("#ContactForm").removeClass("hidden");
                $("#ContactLoadingDiv").addClass("hidden");
            }
        }

        @*$("#ContactForm").on('submit', function (e) {
                e.preventDefault();


                $.ajax({
                    url: "@Url.Action("Contact")",
                    method: "POST",
                    data: $("#ContactForm").serialize(),
                    success: function(data) {
                        ContactFormStatus("Sent");
                    },
                    error: function (data) {
                        debugger;
                        ContactFormStatus();
                        if (data.status === 422) {
                            $("#ContactFormDiv").html(data.responseText);
                        } else {
                            location.reload();
                        }
                    }

                });

            });


            }*@
    </script>
}
