﻿@using QuickEvents.Website.WebApp.ViewModels
@model LoginForm

<div class="modal-body">
    <form id="LoginForm">
        @Html.ValidationSummary()
        <table class="table">
            <tbody>
            <tr class="form-group">
                <td> @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Enter Username" })</td>
            </tr>
            <tr class="form-group">
                <td> @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Enter Password", @type = "password" })</td>
            </tr>
            <tr>
                <td><a id="NewUserBtn" class="fakeButton">New User</a></td>
            </tr>
            <tr>
                <td><a id="ForgotPasswordBtn" class="fakeButton">Forgot Password?</a></td>
            </tr>
            </tbody>
        </table>

        <div class="modal-footer">
            <div class="btn-group btn-group-lg">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-success">Sign in</button>
            </div>
        </div>
    </form>

    @Html.Partial("_RegisterForm", new RegisterForm())
    
    <form id="ForgotPasswordForm" class="hidden">
        @Html.ValidationSummary()
        <table class="table">
            <tbody>
            <tr class="form-group">
                <td> @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Enter Email" })</td>
            </tr>
            </tbody>
        </table>

        <div class="modal-footer">
            <div class="btn-group btn-group-lg">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">
    $("#SignupForm").addClass("hidden");

    $("#NewUserBtn").on('click', function(e) {
        e.preventDefault();

        $("#LoginForm").addClass("hidden");
        $("#SignupForm").removeClass("hidden");
    });

    $("#ForgotPasswordBtn").on('click', function (e) {
        e.preventDefault();

        $("#LoginForm").addClass("hidden");
        $("#ForgotPasswordForm").removeClass("hidden");
    });

    $("#LoginForm").on('submit', function (e) {
        SetLoadingDiv(true);

        e.preventDefault();
        $.ajax({
            url: "@Url.Action("Login")",
            method: "POST",
            data: $("#LoginForm").serialize(),
            success: function () {
               location.href = "@Url.Action("Index", "Event")";
            },
            error: function (response) {
                SetLoadingDiv(false);
                $(".modal-body").html(response.responseText);
            }

        });
    });
</script>
