﻿@model QuickEvents.Website.WebApp.ViewModels.RegisterForm
@{
    var divClass = Model.IsFromFreeTrial ? "modal-body" : "";
}

<div class="@divClass">
    <form id="SignupForm">
        @Html.ValidationSummary()
        <table class="table">
            <tbody>
                <tr class="form-group">
                    <td> @Html.TextBoxFor(x => x.NewUserName, new { @class = "form-control", @placeholder = "Enter Username" })</td>
                </tr>
                <tr class="form-group">
                    <td> @Html.TextBoxFor(x => x.NewEmail, new { @class = "form-control", @placeholder = "Enter Email" })</td>
                </tr>
                <tr class="form-group">
                    <td> @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control", @placeholder = "Enter Password", @type = "password" })</td>
                </tr>
                <tr class="form-group">
                    <td> @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Re-enter Password", @type = "password" })</td>
                </tr>
            </tbody>
        </table>

        <div class="modal-footer">
            <div class="btn-group btn-group-lg">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    if (userEmail) {
        $("#NewEmail").val(userEmail);
        userEmail = undefined;
    }

    $("#SignupForm").on('submit',
        function (e) {
            SetLoadingDiv(true);
            e.preventDefault();

            $.ajax({
                url: "@Url.Action("Register")",
                method: "POST",
                data: $("#SignupForm").serialize(),
                success: function () {
                    location.href = "@Url.Action("Index", "Event")";
                },
                error: function (response) {
                    SetLoadingDiv(false);
                    if (response.status === 422) {
                        $(".modal-body").html(response.responseText);
                    }
                }

            });

        });
</script>
